[Unit]
Description=Pixelit Server Service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /path/to/pixelit-server.py
WorkingDirectory=/path/to/pixelit-server-dir

[Install]
WantedBy=multi-user.target
